go 1.25.1

use (
	.
	./collector
	./extension/alloyflow
	./syntax
)

replace (
	// Replace directives from Loki
	github.com/Azure/azure-sdk-for-go => github.com/Azure/azure-sdk-for-go v68.0.0+incompatible
	github.com/Azure/azure-storage-blob-go => github.com/MasslessParticle/azure-storage-blob-go v0.14.1-0.20240322194317-344980fda573

	// Do not remove this until the bug breaking backwards compatibility is resolved & included in walqueue: https://github.com/deneonet/benc/issues/13
	github.com/deneonet/benc => github.com/deneonet/benc v1.1.7
	// Replace directives from Prometheus
	github.com/fsnotify/fsnotify v1.8.0 => github.com/fsnotify/fsnotify v1.7.0

	github.com/github/smimesign => github.com/grafana/smimesign v0.2.1-0.20220408144937-2a5adf3481d3
	// Use fork of gocql that has gokit logs and Prometheus metrics.
	github.com/gocql/gocql => github.com/grafana/gocql v0.0.0-20200605141915-ba5dc39ece85

	// TODO(rfratto): remove forks when changes are merged upstream
	// TODO(tpaschalis) this is to remove global instantiation of plugins
	// and allow non-singleton components.
	// https://github.com/grafana/cadvisor/tree/grafana-v0.47-noglobals
	github.com/google/cadvisor => github.com/grafana/cadvisor v0.0.0-20240729082359-1f04a91701e2

	// TODO - remove this once otel updates to go 1.24 & k8s client 0.33.x
	github.com/google/gnostic-models => github.com/google/gnostic-models v0.6.9
	// Insist on the optimised version of grafana/regexp
	github.com/grafana/regexp => github.com/grafana/regexp v0.0.0-20240518133315-a468a5bfb3bc
	// Replace memberlist with our fork which includes some fixes that haven't been
	// merged upstream yet.
	github.com/hashicorp/memberlist => github.com/grafana/memberlist v0.3.1-0.20220714140823-09ffed8adbbe
	// leodido fork his project to continue support
	github.com/influxdata/go-syslog/v3 => github.com/leodido/go-syslog/v4 v4.2.0

	// Pin runc to v1.1.12 to maintain compatibility with cadvisor that requires libcontainer/cgroups packages
	github.com/opencontainers/runc => github.com/opencontainers/runc v1.2.6

	// TODO(dehaansa,cristiangreco): this tracks the exporter-package-v0.18.1 branch of the grafana fork,
	// which we could get rid of once the changes are merged upstream.
	github.com/prometheus-community/postgres_exporter => github.com/grafana/postgres_exporter v0.0.0-20250930111128-c8f6a9f4d363

	// TODO(marctc): remove once this PR is merged upstream: https://github.com/prometheus/mysqld_exporter/pull/774
	github.com/prometheus/mysqld_exporter => github.com/grafana/mysqld_exporter v0.17.2-0.20250226152553-be612e3fdedd

	// TODO(marctc, mattdurham): Replace node_export with custom fork for multi usage. https://github.com/prometheus/node_exporter/pull/2812
	// this commit is on the refactor_collectors branch in the grafana fork.
	github.com/prometheus/node_exporter => github.com/grafana/node_exporter v0.18.1-grafana-r01.0.20251024133138-bfa3c0a61c7a
	// Loki needs a NormalizeLabel function which has been removed from the latest version of the translator
	github.com/prometheus/otlptranslator => github.com/prometheus/otlptranslator v0.0.0-20250414121140-35db323fe9fb

	// TODO: remove replace directive once:
	// * There is a release of Prometheus which addresses https://github.com/prometheus/prometheus/issues/14049,
	// for example, via this implementation: https://github.com/grafana/prometheus/pull/34
	github.com/prometheus/prometheus => github.com/grafana/prometheus v1.8.2-0.20250811161144-6e21f656d8e5
	github.com/thanos-io/objstore => github.com/grafana/objstore v0.0.0-20250210100727-533688b5600d

	// TODO: remove this replace directive once the upstream issue is fixed: https://github.com/prometheus/prometheus/issues/13842
	go.opentelemetry.io/collector/featuregate => github.com/grafana/opentelemetry-collector/featuregate v0.0.0-20240325174506-2fd1623b2ca0

	// TODO - remove this once otel updates to go 1.24 & k8s client 0.33.x
	go.opentelemetry.io/collector/pdata => go.opentelemetry.io/collector/pdata v1.41.0

	// TODO - remove this once otel updates to go 1.24 & k8s client 0.33.x
	go.opentelemetry.io/collector/pdata/pprofile => go.opentelemetry.io/collector/pdata/pprofile v0.135.0

	// TODO - remove this once otel updates to go 1.24 & k8s client 0.33.x
	go.opentelemetry.io/collector/pdata/testdata => go.opentelemetry.io/collector/pdata/testdata v0.135.0

	go.opentelemetry.io/ebpf-profiler => github.com/grafana/opentelemetry-ebpf-profiler v0.0.202537-0.20250916114748-f2ff2fc6048c

	// Submodules.

	go.opentelemetry.io/obi => github.com/grafana/opentelemetry-ebpf-instrumentation v1.3.2

	gopkg.in/yaml.v2 => github.com/rfratto/go-yaml v0.0.0-20211119180816-77389c3526dc

	// TODO - remove this once otel updates to go 1.24 & k8s client 0.33.x
	k8s.io/api => k8s.io/api v0.32.6

	// TODO - remove this once otel updates to go 1.24 & k8s client 0.33.x
	k8s.io/apimachinery => k8s.io/apimachinery v0.33.5

	// TODO - remove this once otel updates to go 1.24 & k8s client 0.33.x
	k8s.io/client-go => k8s.io/client-go v0.32.6

	// TODO - remove this once otel updates to go 1.24 & k8s client 0.33.x
	k8s.io/kube-openapi => k8s.io/kube-openapi v0.0.0-20250318190949-c8a335a9a2ff

	sigs.k8s.io/controller-runtime => sigs.k8s.io/controller-runtime v0.20.4
)
